name: Terraform CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Plan
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5
          terraform_wrapper: false  # Disable wrapper to avoid masking outputs

    #   - name: Azure Login
    #     uses: azure/login@v2
    #     with:
    #         creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Bootstrap Terraform Backend
        id: init
        env:
          BACKEND_CONTAINER_NAME: ${{ secrets.BACKEND_CONTAINER_NAME }}
          BACKEND_STORAGE_ACCOUNT: ${{ secrets.BACKEND_STORAGE_ACCOUNT }}
          BACKEND_RESOURCE_GROUP_NAME: ${{ secrets.BACKEND_RESOURCE_GROUP_NAME }}
          BACKEND_KEY: ${{ secrets.BACKEND_KEY }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        run: |
            az login --service-principal -u ${ARM_CLIENT_ID} -p ${ARM_CLIENT_SECRET} --tenant ${ARM_TENANT_ID}
            az account set --subscription ${ARM_SUBSCRIPTION_ID}
            echo "resource_group_name  = \"${BACKEND_RESOURCE_GROUP_NAME}\"" >> backend.tfvars
            echo "storage_account_name = \"${BACKEND_STORAGE_ACCOUNT}\"" >> backend.tfvars
            echo "container_name       = \"${BACKEND_CONTAINER_NAME}\"" >> backend.tfvars
            echo "key                  = \"${BACKEND_KEY}\"" >> backend.tfvars
    
            terraform init \
                -backend-config=backend.tfvars \
                -input=false \
                -no-color

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: |
          terraform plan \
            -input=false \
            -no-color \
            -out=tfplan