name: Terraform CI Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select Environment'
        required: true
        type: choice
        options:
          - dev
          - qa
          - prod
        default: dev

      action:
        description: 'Terraform action to perform'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
          - refresh
          - validate
        default: plan

      tfvars_file:
        description: 'Select tfvars file based on environment'
        required: true
        type: choice
        options:
          - envs/dev/dev.tfvars
          - envs/qa/qa.tfvars
          - envs/prod/prod.tfvars
        default: envs/dev/dev.tfvars

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Terraform CI Action
        uses: ./.github/actions/terraform-ci
        with:
          environment: ${{ github.event.inputs.environment }}
          action: ${{ github.event.inputs.action }}
          tfvars_file: ${{ github.event.inputs.tfvars_file }}

          BACKEND_CONTAINER_NAME: ${{ secrets.BACKEND_CONTAINER_NAME }}
          BACKEND_STORAGE_ACCOUNT: ${{ secrets.BACKEND_STORAGE_ACCOUNT }}
          BACKEND_RESOURCE_GROUP_NAME: ${{ secrets.BACKEND_RESOURCE_GROUP_NAME }}
          BACKEND_KEY: ${{ secrets.BACKEND_KEY }}

          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
