name: Terraform CI Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment name'
        required: true
        default: 'dev'
      action:
        description: 'Terraform action to perform'
        required: true
        default: 'plan'
      tfvars_file:
        description: 'Path to tfvars file'
        required: true
        default: 'envs/dev/dev.tfvars'
jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Terraform CI Action
        uses: ./.github/actions/terraform-ci
        with:
          environment: ${{ github.event.inputs.environment }}
          action: ${{ github.event.inputs.action }}
          tfvars_file: ${{ github.event.inputs.tfvars_file }}

          BACKEND_CONTAINER_NAME: ${{ secrets.BACKEND_CONTAINER_NAME }}
          BACKEND_STORAGE_ACCOUNT: ${{ secrets.BACKEND_STORAGE_ACCOUNT }}
          BACKEND_RESOURCE_GROUP_NAME: ${{ secrets.BACKEND_RESOURCE_GROUP_NAME }}
          BACKEND_KEY: ${{ secrets.BACKEND_KEY }}

          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
